<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"href="/css/styles.css">
    </head>
    <body>
        <h1>
            {{title}}
            <img src="/img/formal pic.jpg">
            created by {{name}}
        </h1>
    </body>
</html>
