<!DOCTYPE html>

<html>

<head>
    <title>about</title>
    <link rel="icon" href="/img/cloud.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
    <h1>{{title}}</h1>
    {{!-- <img src="/img/formal pic.jpg"> --}}
    <img class="portrait" src="/img/iqoo.png">
    <p>Created by {{name}}</p>
    </div>
    
    {{>footer}}
</body>

</html>
