<!DOCTYPE html>

<html>

<head>
    <title>
        index
    
</title>
    <link rel="icon" href="/img/cloud.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <h1>weather</h1>

    <p>Use this site for weather updates </p>

</div>
    {{>footer}}
</body>

</html>
